@model IEnumerable<MyEuroleagueMVCAspNetCore.Models.Standings>

@{
    ViewData["Title"] = "Standings in Round";
}

    <h2>Standings in Round</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Position#
            </th>
            <th>
                Matches#
            </th>
            <th>
                Team
            </th>
            <th>
                Wins
            </th>
            <th>
                Loses
            </th>
            <th>
                Points+
            </th>
            <th>
                Points-
            </th>
            <th>
                Points Difference
            </th>
            <th>
                Extra Time Matches#
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatchesNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PointsPlus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PointsMinus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PointsDif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraTimeMatches)
                </td>
            </tr>
        }
    </tbody>
</table>

